@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: "IBM Plex Mono", monospace;
    --font-body: "IBM Plex Mono", monospace;
    --background: 0 0% 85%;
    --foreground: 0 0% 10%;
    --primary: 0 0% 80%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 70%;
    --secondary-foreground: 0 0% 10%;
    --accent: 240 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 32%;
    --destructive-foreground: 0 0% 98%;
    --muted: 0 0% 75%;
    --muted-foreground: 0 0% 10%;
    --card: 0 0% 95%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --border: 0 0% 60%;
    --input: 0 0% 60%;
    --ring: 0 0% 10%;
    --radius: 0rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
} */



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
